{% extends 'frontend/base.html' %}
{% block title %} Kevin homepage {% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Contact</h1> &nbsp;
  <p class="lead">66/234 The connect 2 Soi.Chalermprakiat Rama 9 Soi 87 Prawet Bangkok 10250  </p>
  <p> TEL : 081-485-1591 </p>
  &nbsp;
  <p> Line : keviniiz </p> <p> or Scan here ! </p>
  <a href="https://ibb.co/0Y0qFPx"><img src="https://i.ibb.co/JrYnyX9/S-10846363.jpg" alt="S-10846363" border="0" height="230px" width="230px"></a>

  <hr class="my-2">

</div>

{% endblock %}